**{
    padding: 0;
    margin: 0;
}
.login{
    border: 1px solid black;
    width: 30%;
    height: 40rem;
    margin-left: 40rem;
    border-radius: 2rem;
    padding: 3rem;
}
.inputUn{
    height: 2.5rem;
    border-radius: .4rem;
}
.create{
    width: 100%;
    height: 2.5rem;
    border-radius: .4rem;
    border: none;
    background-color: #2019e4;
    color: #ffff;
}
.click{
    border: none;
    background-color: #ffff;
}
.first{
    text-align: center;
}
.follow{
    text-align: center;
    font-size: .8rem;
}
@media (max-width:768px){
    .login{
        width: 100%;
        margin-left: 0;
    }
}